*.o
*.lammpstrj
*.xyz
junk
*/.d
tags
.clang_complete
samples/bond
samples/findbox
samples/h1h2
samples/mass
samples/nonbonded
samples/overlap
samples/protonated
samples/sphere_vacancy
samples/test
samples/travel
samples/unwrap
samples/vacancy
samples/wrap
samples/sort_frames
vendor/hungarian/hungarian_test
vendor/hungarian/libhungarian.a
